<%- include('../layouts/admin-header.ejs') %>



  <div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Add Post </h2>

    <div class="container">
      <form id="addPost" method="post" >
        <div class="row mt-3">
          <div class="col-sm-12">
            <h5>title</h5>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-12">
            <input type="text" name="title" required class="w-100" placeholder="Enter post title">
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-sm-12">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
              Upload Image
            </button>
            <input type="hidden" name="image" id="image">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-12">
            <textarea name="content" placeholder="Enter Post content" class="w-100" required></textarea>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-sm-12">
            <input type="submit" value="Add Post" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
    <% if(typeof message !=='undefined' ){ %>
      <p style="color: green;">
        <%= message%>
      </p>
      <% } %>

  </div>

  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Upload</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" id="uploadform" enctype="multipart/form-data">
          <div class="modal-body">
            <input type="file" name="image" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>

    $(document).ready(function () {
      $("#uploadform").submit(function () {
        event.preventDefault();

        $.ajax({
          url: "/upload-post-image",
          type: 'Post',
          data: new FormData(this),
          contentType: false,
          cache: false,
          processData: false,
          success: function (data) {
            if (data.success == true) {
              $("#image").val(data.path)
              alert(data.message)
              $("#uploadModal").modal("hide")
            } else {
              alert(data.message)
            }
          }
        })
      })


      $("#addPost").submit(function () {
        event.preventDefault();
        let obg = $(this)
        let fromData = {};
        $.each($(this).serializeArray(),function(i,field){
          fromData[field.name] = field.value;
        })
        $.ajax({
          url: "/create-post",
          type: 'Post',
          data:fromData,
          success: function (data) {
            if (data.success == true) {
              alert(data.message)
              $(obg)[0].reset(0);
              $('#image').val('');
              fromData._id = data._id;
              let socket = io();
              socket.emit("new_post",fromData);
            } else {
              alert(data.message)
            }
          }
        })
      })

    })
  </script>

  <%- include('../layouts/admin-footer.ejs') %>